<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow p-4" style="width: 25rem;">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Login</h3>
      
      <div *ngIf="loginError" class="alert alert-danger">
        Invalid username or password.
      </div>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="admin">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="admin123">
        </div>
        <div class="d-grid">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>